<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Polux</title>
    <link rel="stylesheet" href='../static/style.css' />
  </head>
  <body>
    <main>
      <div class="center">
        <h1 class="center">Panneau de contrôle Polux</h1>
      </div>
      <div class="flex one two-1200">
        <div>
          <article class="card">
            <header>
              <h2>Commandes</h2>
            </header>
            <footer>
              <form action="/polux" method="post" id="commands">
                <label>
                  <input type='radio' name="cmd" id="state" value="state">
                  <span class="checkable">État</span>
                </label><br>
                <label>
                  <input type='radio' name="cmd" id="open" value="open">
                  <span class="checkable">Ouvrir</span>
                </label><br>
                <label>
                  <input type='radio' name="cmd" id="close" value="close">
                  <span class="checkable">Fermer</span>
                </label><br>
                <label>
                  <input type='radio' name="cmd" id="temp" value="temp">
                  <span class="checkable">Conditions Météo</span>
                </label><br>
                <input type="submit" value="OK">
              </form>
            </footer>
          </article>
        </div>
        <div>
          <article class="card">
            <header>
              <h2>Automatisation</h2>
            </header>
            <footer>
              <form action="/polux" method="post" id="crontab">
                <p>Ouverture :</p>
                <div class="flex two">
                  <div>
                    <select id="hopen" name="hopen" form="crontab">
{% for h in range(0, 24) %}
                      <option value="{{ h }}"{% if h == (openJob.split(' ')[1] | int) %} selected="selected" {% endif %}>{{ h }}</option>
{% endfor %}
		    </select>
                    </div>
                    <div>
                      <select id="mopen" name="mopen" form="crontab">
{% for m in range(0, 60, 5) %}
                      <option value="{{ m }}"{% if m == (openJob.split(' ')[0] | int) %} selected="selected" {% endif %}>{{ m }}</option>
{% endfor %}
                      </select>
                    </div>
                  </div>
                <p>Fermeture</p>
                <div class="flex two">
                  <div>
                    <select id="hclose" name="hclose" form="crontab">
{% for h in range(0, 24) %}
                      <option value="{{ h }}"{% if h == (closeJob.split(' ')[1] | int) %} selected="selected" {% endif %}>{{ h }}</option>
{% endfor %}
                    </select>
                    </div>
                    <div>
                      <select id="mclose" name="mclose" form="crontab">
{% for m in range(0, 60, 5) %}
                      <option value="{{ m }}"{% if m == (closeJob.split(' ')[0] | int) %} selected="selected" {% endif %}>{{ m }}</option>
{% endfor %}
                      </select>
                    </div>
                  </div>
                <input type="submit" value="OK">
              </form>
            </footer>
          </article>
        </div>
{% if feedback != None %}
        <div>
          <article class="card">
            <header>
              <h2 class="success">Retour commande</h2>
            </header>
            <footer>
              <pre>{{ feedback }}</pre>
            </footer>
          </article>
        </div>
{% endif %}
{% if error != None %}
        <div>
          <article class="card">
            <header>
              <h2 class="error">Erreurs</h2>
            </header>
            <footer>
              <pre>{{ error }}</pre>
            </footer>
          </article>
        </div>
{% endif %}
        <div class="full">
          <article class="card">
            <header>
              <h2>Vidéosurveillance</h2>
            </header>
            <footer>
              <img class="cctv" alt="cctv" src="{{ url_for('video_feed') }}">
            </footer>
          </article>
        </div>
      </div>
    </main>
  </body>
</html>
